@media (max-width: 900px) {
    .card {
        width: 20rem !important;
    }
    #session-video  {
        flex-direction: column-reverse;
        gap: 2rem;
    }
    #video {
        width: 100% !important;
    }
    #titulo-video {
        text-align: center;
    }
}