@media (max-width: 900px) {
    .card {
        width: 20rem !important;
    }
    #section-contato {
        padding: 0px !important;
    }
    #sessao-contato {
        flex-direction: column;
        width: 100%;
        justify-content: space-between !important;
    }
    #texto-contato {
        align-items: center !important;
        text-align: center;
        padding: 3rem 0px;
    }
    .img-contato {
        display: none !important;
    }
    #Sessao-contato {
        background: linear-gradient(180deg, #00255a, #92a2d5e4) !important;
    }
}