@media (max-width: 900px) {
    #displaynone {
        display: none !important;
    }
    #sessaomobile {
        width: 96% !important;
    }
    #arrow {
        width: 44% !important;
    }
    .card {
        width: 20rem !important;
    }
    #session-video  {
        flex-direction: column;
        gap: 2rem;
    }
    #video {
        width: 100% !important;
    }
    #titulo-video {
        text-align: center;
    }
    #rotate {
        width: 100% !important;
    }
    #rotate02 {
        width: 100% !important;
        rotate: 0deg !important;
        background: none !important;
    }
    #rotate03 {
        width: 100% !important;
        rotate: 0deg !important;
        padding: 0px !important;
    }
    #texto-rotate {
        padding: 0px !important;
    }
}