:root {
    --bg-principal: #00255a;
    --bg-color: #c8690a;
}
.card {
    width: 25rem !important;
    border: none !important;
    cursor: pointer;
}
#Btn01:hover {
    background: #fff !important;
    color: #000 !important;
}
#Btn02:hover {
    background: #00255a !important;
}